<div *ngIf="isEnable">
  <mat-grid-list cols="2" rowHeight="10px">
    <mat-grid-tile colspan="2" rowspan="30">
      <img src="./assets/images/menu/logo.png" />
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="10">
      <button (click)="disableMenu()">
        <img src="./assets/images/menu/play.png" />
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="10">
      <button>
        <img src="./assets/images/menu/load.png" />
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="10">
      <button>
        <img src="./assets/images/menu/options.png" />
    </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="10">
      <button>
        <img src="./assets/images/menu/exit.png" />
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

