<mat-grid-list cols="2" rowHeight="10px">
  <mat-grid-tile colspan="2" rowspan="30">
    <img src="./assets/images/logo.png" />
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="10">
    <button>
      <img src="./assets/images/play.png" />
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="10">
    <button>
      <img src="./assets/images/load.png" />
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="10">
    <button>
      <img src="./assets/images/options.png" />
  </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="10">
    <button>
      <img src="./assets/images/exit.png" />
    </button>
  </mat-grid-tile>
</mat-grid-list>
